agent-1.sources = src-1 src-2
agent-1.channels = ch-1
agent-1.sinks = sink-1

agent-1.channels.ch-1.type = memory
agent-1.channels.ch-1.capacity = 10000
agent-1.channels.ch-1.transactionCapacity = 1000

$_agentSrc_

agent-1.sinks.sink-1.channel = ch-1
agent-1.sinks.sink-1.type = org.apache.flume.sink.kafka.KafkaSink
agent-1.sinks.sink-1.kafka.topic = $_kafkaTopic_
agent-1.sinks.sink-1.kafka.bootstrap.servers = $_kafkaBrokerList_
agent-1.sinks.sink-1.kafka.producer.acks = 1
agent-1.sinks.sink-1.flumeBatchSize = 1000
agent-1.sinks.sink-1.useFlumeEventFormat = true
agent-1.sinks.sink-1.defaultPartitionId = $_kafkaPartitionId_